html {
  padding: 10px 20px;
}

body {
  width: 100%;
  margin: auto;
  /* border: .5em solid grey; */
}
@media (min-width: 600px) {
  body {
    width: 50%;
    /* min-width: 550px; */
  }
}

header, footer {
  background-color: lightgrey;
}

main {
  min-height: 700px;
  /* border: .25em solid black; */
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  text-align: center;
}

/* Form */
input, select {
  display: block;
  margin: auto;
  max-width: 90%;
}
input[type=reset] {
  margin-top: 25px;
  margin-bottom: 8px;
  color: red;
}
input[type=submit] {
  color: green;
  font-weight: bold;
}
input {
  max-width: 50%;
}
form {
/* background-color: black; */
display: inline-block;
padding: 10px 0px;
}

/* Form */

.hide {
  display: none;
}

.more {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid grey;
}

.results {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photo {
  height: 250px;
}


/* TO DO: make list a flex container that is ~4x13 */
/* State List */
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
li {
  background-color: white;
  margin: 4px;
  padding:10px;
  position: relative;
  border: 1px dotted grey;
}
li:hover {
  background-color: lightskyblue;
  color: white;
}
li:active {
  background-color: blue; 
  top: 2px;
}
.active-state {
  background-color: blue;
  color: white;
  border: 2px solid black;
}
